:root {
  --mainFontFamily: sans-serif;
  --colorLightGray: 68, 70, 84;
  --colorDarkGray: 52, 53, 65;
  --colorDarkerGray: 32, 33, 35;
  --colorWhite05Percent: 255, 255, 255, 0.05;
  --colorWhite50Percent: 255, 255, 255, 0.5;
  --colorWhite80Percent: 255, 255, 255, 0.8;
  --colorBlack: 0, 0, 0;
  --colorBlack05Percent: 0, 0, 0, 0.05;
}

.testingOutline {
  outline: 1px solid red;
}

* {
  color: white;
  font-family: var(--mainFontFamily);
}

body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: rgb(var(--colorDarkGray));
  display: flex;
}

.sidebar {
  background-color: rgb(var(--colorDarkerGray));
  height: 100vh;
  max-width: 20vw;
  /* To do: to change later */
  width: 244px;
  padding: 0.7rem;
  /* To do: Adjust flex properties later */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button#newChat {
  border: solid 0.5px rgba(var(--colorWhite50Percent));
  background-color: transparent;
  border-radius: 0.3rem;
  padding: 0.7rem;
  cursor: pointer;
}

.history {
  padding: 0.7rem;
  height: 100%;
}

.history li {
  list-style-type: none;
  padding: 1rem 0;
  cursor: pointer;
}

nav {
  border-top: solid 0.5px rgba(var(--colorWhite50Percent));
  padding: 0.7rem;
}

.main {
  height: 100vh;
  width: 100%;
  /* padding: 0 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.feed {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  padding: 0;
}
.feed li {
  display: flex;
  background-color: rgb(var(--colorLightGray));
  width: 100%;
  padding: 0.7rem;
  margin: 0.7rem 0;
}
.feed p {
  color: rgba(var(--colorWhite80Percent));
  text-align: left;
  font-size: 1.1rem;
}
.feed p.role {
  min-width: 10ch;
}

.bottomSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  width: 100%;
  max-width: calc(768px - 20vw);
  position: relative;
}

#chatInput {
  padding: 0.9rem 1rem;
  width: calc(100% - 2rem);
  border: none;
  background-color: rgba(var(--colorWhite05Percent));
  border-radius: 0.3rem;
  /* To do: Debug later */
  box-shadow: 0px 54px 55px rgba(0, 0, 0, 0.05), 
    0px -12px 30px rgba(0, 0, 0, 0.05), 
    0px 4 6px rgba(0, 0, 0, 0.05), 
    0px 12px 3px rgba(0, 0, 0, 0.05), 
    0px -3px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 54px 55px rgba(0, 0, 0, 0.05), 0px -12px 30px rgba(0, 0, 0, 0.05), 0px 4 6px rgba(0, 0, 0, 0.05), 0px 12px 3px rgba(0, 0, 0, 0.05), 0px -3px 5px rgba(0, 0, 0, 0.05);
  font-size: 1.1rem;
}
#chatInput:focus {
  outline: none;
}

#submit {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 1rem;
  cursor: pointer;
}

p.info {
  color: rgba(var(--colorWhite50Percent));
  font-size: 0.8rem;
  padding: 0.7rem;
}